.u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0; margin-left: auto}
.u-section-1 .u-layout-cell-1 {min-height: 254px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {background-image: none; font-size: 1.375rem; margin: 105px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 191px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-1 {width: 232px; height: 77px; margin: 0 -7px 0 auto}
.u-section-1 .u-layout-cell-3 {min-height: 191px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-2 {height: 75px; width: 225px; margin: 0 auto 0 -30px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-layout-cell-5 {min-height: 400px}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-image-3 {width: 255px; height: 522px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {position: relative; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 209px}
.u-section-1 .u-text-1 {margin-right: -23px}
.u-section-1 .u-layout-cell-2 {min-height: 157px}
.u-section-1 .u-image-1 {width: 175px; height: 58px; margin-right: 0}
.u-section-1 .u-layout-cell-3 {min-height: 157px}
.u-section-1 .u-image-2 {height: 58px; width: 175px; margin-left: -29px}
.u-section-1 .u-layout-cell-4 {min-height: 82px}
.u-section-1 .u-layout-cell-5 {min-height: 330px} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {margin-right: -38px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-layout-cell-4 {min-height: 126px}
.u-section-1 .u-layout-cell-5 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-right: 0}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {margin-right: auto}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {margin-left: auto}
.u-section-1 .u-layout-cell-4 {min-height: 95px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-top: 0}
.u-section-1 .u-layout-cell-4 {min-height: 60px} }